.navbar {
  background-color: transparent;
  height: 78px;
  border: none;
  transition: 0.2s background-color;
  
  &.navbar-darken {
    background-color: $slateBlack;
  }

  .container {
    height: 100%;

    ul {
      li {
        a {
          color: white;
          transition: 0.3s all;
          font-size: 18px;
          font-weight: 300;

          &:hover, &.active {
            color: $demonRed;
          }
        }
      }
    }

    .navbar-collapse {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }

    .navbar-brand {
      padding: 0;

      img {
        width: 95px;
      }
    }
  }
}

.jumbotron {
  background-image: url(/img/header-bg.jpeg);
  background-size: cover;
  background-position: center 80%;
  position: relative;
  z-index: 5;
  text-align: center;
  padding-bottom: 20px;

  h1 {
    color: white;
    margin-top: 170px;
    font-weight: 300;
    font-size: 60px;
  }

  &::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -100;
  }

  .down-arrow {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid white;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 40px;

    i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 26px;
    }
  }
}
